<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
   xmlns:th="http://thymeleaf.org"
   xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>Categories List</title>
      <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" />
      <link rel="stylesheet" th:href="@{/css/basic.css}" />
      <script src="/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
   </head>
   <body>
      <div class="col-lg-8 mx-auto p-3 py-md-5">
         <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
               <span class="fs-4">World of Quotes</span>
            </a>
         </header>
         <main>
            <div class="row mb-4 mt-4">
               <form class="row row-cols-lg-auto g-3 align-items-center" th:action="@{/categories/search}"  method="post">
                  <div class="col-12">
                     <label class="visually-hidden" for="title">Titel</label>
                     <div class="input-group">
                        <div class="input-group-text">Category name containing</div>
                        <input type="text" class="form-control" id="categoryName" name="categoryName" placeholder="search">
                     </div>
                  </div>
                  <div class="col-12">
                     <button type="submit" class="btn btn-light">Filter</button>
                  </div>
               </form>
            </div>
            <h1>Categories List</h1>
            <div class="row mb-4 mt-4">
               <div class="table-responsive">
                  <table class = "table table-striped">
                     <thead class = "table-light">
                        <tr>
                           <th> Category Name</th>
                           <th> Category Description</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr th:each = "category: ${categoryPage}">
                           <td><a th:href="@{'/quotes/category/'+ ${category.categorySlug}}" th:text = "${category.categoryName}"></a></td>
                           <td th:text = "${category.categoryDescription}"></td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <nav aria-label="Bottom navigation">
               <ul th:if="${categoryPage.totalPages > 0}" class="pagination"
                  th:each="pageNumber : ${pageNumbers}">
                  <li class="page-item"><a class="page-link" th:href="@{/categories(size=${categoryPage.size}, page=${pageNumber})}"
                     th:text=${pageNumber}
                     th:class="${pageNumber==categoryPage.number + 1} ? active"></a></li>
               </ul>
            </nav>
            <hr class="col-3 col-md-2 mb-5" />
            <div class="row g-5">
               <div class="col-md-6">
                  <h2>Authors</h2>
                  <p>Famous quotes by Author</p>
                  <ul class="icon-list">
                     <li><a th:href = "@{/authors}">All Authors</a></li>
                  </ul>
               </div>
               <div class="col-md-6">
                  <h2>Categories</h2>
                  <p>Famous quotes by Category</p>
                  <ul class="icon-list">
                     <li><a th:href = "@{/categories}">All Categories</a></li>
                  </ul>
               </div>
            </div>
         </main>
         <footer class="pt-5 my-5 text-muted border-top">
            Created by the Cloudwards team &middot; &copy; 2022
         </footer>
      </div>
   </body>
</html>

